@import "colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font";
    font-size: 16px;
    font-weight: bold;
    min-height: 0;
    transition: all 0.3s ease;
}

window#waybar {
    background: transparent;
    padding: 0 10px;
}

#clock,
#group-system,
#workspaces,
#pulseaudio,
#custom-power {
    background: @background;
    color: @text;
    padding: 5px 10px;
    margin: 8px 0px;
    border-radius: 15px;
    border: 1px solid @surface;
}

#clock:hover,
#group-system:hover,
#workspaces:hover,
#pulseaudio:hover,
#custom-power:hover {
    background: @surface;
    border: 1px solid @accent;
}

#workspaces button,
#network,
#bluetooth,
#language {
    padding: 0 10px;
    color: @subtext;
    background-color: transparent;
}

#workspaces button:hover,
#network:hover,
#bluetooth:hover,
#language:hover {
    color: @text;
    background-color: @surface;
    border-radius: 12px;
}

#workspaces button.active {
    background: @accent;
    color: @accent-dark;
    border-radius: 12px;
}